.sort__button {
  background-color: white;
  padding: 1rem;
  cursor: pointer;
  color: #17317f;
  font-size: 1.2rem;
  font-weight: 400;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  align-items: center;
}

.sort__button span {
  font-weight: 600;
}
.sort__button:hover {
  text-decoration: underline;
}

.sort__button.sort__button__active {
  background-color: #17317f;
  color: white;
}
